
@media (max-width : 700px) {

.left-panel {
    background: #272729;
    width: 100%;
    box-shadow: 1px 0 5px 0px rgba(0, 0, 0, 0.1);

    height: 55px;
    position: absolute;
    bottom: 0;

    z-index: 2;

    overflow: hidden;
}

.top-panel {

    width: 100%;
    height: 60px;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.1);

    background: #272729;
    float: right;

    position: relative;
    z-index: 2;
}

.main-button {
    background-image: url(/buttons/itmm.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 35px !important;
    height: 35px !important;
}

.mbutton div {
    background-repeat: no-repeat;
    background-size: cover;

    width: 25px;
    height: 25px;
}

.left-panel-top {
    display: inline-block;
    width: 80%;

    overflow: hidden;

    vertical-align: bottom;
}

.mbutton {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 55px;

    cursor: pointer;
    user-select: none;

    vertical-align: middle;
}

.mbutton:hover {
    background: #1f1f20;
}

.mbutton:active {
    background: #121213;
}

.left-panel-bottom {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

.left-panel-bottom #logout {
    width: 100%;
}

.mbutton[selected] {
    background: #1c1c1d;
}

.news-image {
    background-image: url(/buttons/news.png);
}

.table-image {
    background-image: url(/buttons/timetable.png);
}

.chat-image {
    background-image: url(/buttons/message.png);
}

.logout-image {
    background-image: url(/buttons/logout.png);
}

#aok {
    margin-left: 10px;
}

.up-overlay {
    background: transparent;
    position: fixed;

    display: flex;
    z-index : 2;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.2);
}

.alert {
    position: relative;
    z-index: 3;

    color: #bbbbbb;
    background: #272729;
    padding: 20px;
    border-radius: 3px;

    transition : cubic-bezier(.21,.36,.62,1.01) 0.2s;

    opacity: 1.0;
    margin-top: 0;
}

.alert-content {
    padding-top: 5px;
    font-size: 16px;
}

.alert-buttons .button {
    width: 90px;
    margin-top: 15px;
}

.al-down {
    opacity: 0;
    margin-top: 50px;
}

.ov-hidden {
    visibility: hidden;
}


.overlay-back {
    background: transparent;
    position: fixed;

    z-index: 2.5;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.central-panel {
    position: fixed;
    top : 60px;
    bottom: 55px;

    width: 100%;
    height: calc(100% - 115px);

    opacity: 1.0;
    z-index: 8;

}

.page-name {
    font-size: 20px;
    padding: 18px;

    font-weight: 600;
}

.flex-center {
    display: flex;

    justify-content: center;
    align-items: center;
}

.big {
    width: 100%;
    height: 100%;
}

.excuse-logo {
    margin: auto;
    margin-bottom: 20px;

    width: 100px;
    height: 100px;

    background-image: url('/emoji/svg/015-grinning.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.excuse-msg {
    text-align: center;
    width: 200px;

    margin: auto;
}

.central-panel-offset {
    left : 100px
}

.central-panel-transition {
    transition : cubic-bezier(.21,.36,.62,1.01) 0.3s;
}

.central-panel-invis {
    opacity: 0.0;
}

.central-panel-small {
    top : 100px;
    left: 100px;

    width: calc(100% - 130px);
    height: calc(100% - 130px);
}

.central-panel-shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.standart-back {
    background: #202024;
}

.relative {
    position: relative;
}

.template {
    display: none;
}


}

