

if empty
    .no-selected-chat
        |  Чтоб <b>начать</b> выбери чат из списка <i>слева</i>
else if msgs.length == 0
    .no-messages
        .no-messages-logo
        .no-messages-content   
        | Кажется тут еще <b>нет</b> сообщений. Напиши <i>первое</i>!
else
    .message-panel#messagePanel2
        .message-list
            include ./messages.pug
