/* CHAT */

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.chat-panel{
    background: #222224;
    width: 210px;
    height: 100%;

    padding: 0 20px 0 20px;
    box-shadow: 1px 0 5px 0px rgba(0, 0, 0, 0.1);


    user-select: none;
    float: left;

    overflow-y: scroll;
}

.chat-list {
    padding: 20px 0 10px 0;

}

.member-list {
    padding: 10px 0 20px 0;
}

.chat-list-title, .member-list-title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #525252;

}

.chat-list-items, .member-list-items {
    padding: 10px 0 10px 0;
}

.chat-list-item, .member-list-item {
    padding: 5px 10px 7px 10px;
    border-radius: 8px;
    margin-top: 5px;
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;

    position: relative;
}

.relative {
    position: relative;
}

.chat-list-item span, .member-list-item span {

    display: inline-block;
    height: 20px;

    vertical-align: middle;

    width: 110px;
    overflow: hidden;
    text-overflow: clip;
}

.chat-list-item:hover, .member-list-item:hover {
    background: #2d2d35;
}

.member-list-item strong, .chat-list-item strong {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    
    display: inline-block;
    margin-right: 5px;

    vertical-align: middle;
}

.member-list-item strong {
    color: #b1493b;
    margin-top: -3px;
}

.member-list-item strong#me {
    color: #3bb176;
}

div[me]:hover {
    background: none;
}

.chat-list-item strong {
    color: #3b78b1;
}

.member-list-item {
    color: #777777;
}

.member-list-item[exist] {
    color: inherit;
}

.right-box {
    float: right;
    width: calc(100% - 251px);
    height: 100%;;
}

.send-panel {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 80px;
    right: 0;

    background: #222224;


    box-shadow: 0 -1px 5px 0px rgba(0, 0, 0, 0.1);
}

.send-input {
    margin: 20px 20px 10px 30px;
    padding: 5px 30px 10px 30px;

    display: inline-block;

    border-radius: 8px;
    background: #333338;

    width: calc(100% - 120px);
}

.send-input input {
    background: transparent;

    height: 0;
    width: 0;

    border: none;
    display: inline-block;

    outline: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;

    color: #dfdfdf;

    transition: 0.2s;

    vertical-align: top;
    display: inline-block;
}

.send-input-div {
    background: transparent;

    border: none;
    width: calc(100% - 200px);

    outline: none;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;

    line-height: 20px;
    height: 20px;

    color: #dfdfdf;

    margin-top: 5px;

    transition: 0.2s;

    vertical-align: top;
    display: inline-block;

    overflow: hidden;

}

.form input:focus {
    outline: none;
}

.send-button-big {   

    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.send-button {

    width: 41px;
    height: 41px;

    display: inline-block;

    position: absolute;
    right: 0px;
    padding-right: 10px;
    top: 0px;
    border-left: 1px solid #222224;

    text-align: center;
    line-height: 41px;

    
    cursor: pointer;
}

.send-button:hover {
    background: #2e2e31;
    border-radius: 0 8px 8px 0;
    border-left: 1px solid #2e2e31;
}

.send-button:active {
    background: #1f1f20;
    border-radius: 0 8px 8px 0;
    border-left: 1px solid #1f1f20;
}

.send-image {
    display: inline-block;
    background-image: url(/buttons/send.png);
    background-size: cover;

    width: 20px;
    height: 20px;

    margin-top: 10px;
    margin-left: 7px;

}

.send-button-big {   

    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.emoji-button {

    width: 51px;
    height: 41px;

    display: inline-block;

    position: absolute;
    right: 51px;
    top: 0px;
    border-left: 1px solid #222224;

    text-align: center;
    line-height: 41px;

    
    cursor: pointer;
}

.emoji-button:hover {
    background: #2e2e31;
}

.emoji-image {
    display: inline-block;
    background-image: url(/emoji/svg/004-expressionless.svg);
    background-size: cover;

    width: 20px;
    height: 20px;

    margin-top: 10px;
    margin-left: 2px;

}

.sendbutton-inline {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;



    width: 40px ;
    height: 40px;

    border-radius: 20px;
}

.sendbutton-inline:hover {
    background: #202025;
}

.emoji-button {
    display: inline-block;
}

.message-panel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;

    max-height: calc(100% - 30px);

    overflow-y: scroll;
    overflow-x: hidden;
} 

.message-panel-writers {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: left;
    padding: 0 20px 0 20px;

    height: 30px;

    user-select: none;
}

.message-item {
    padding: 10px 20px 10px 20px;
    overflow: hidden;
}

.message-item-avatar {
    width: 40px;
    height: 40px;

    line-height: 40px;
    text-align: center;

    border-radius: 20px;
    background: #255d9e;

    display: inline-block;
}

.message-item-content {
    display: inline-block;
    max-width: 300px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 8px;

    float: none;

    background: #22252b;
}

.message-item-owner {
    font-weight: 600;
}

.message-item-date {
    text-align: right;
    padding-top: 5px;

    color: #757575;
}

.message-panel-big {
    position: absolute;

    left: 0;
    right: 0;
    bottom: 80px;
    top: 0;

    display: flex;

    justify-content: center;
    align-items: center;
}

.no-messages-logo {
    margin: auto;

    width: 200px;
    height: 200px;

    background-image: url(/emoji/svg/025-thinking.svg);

    background-size: cover;
}

.no-messages-content {
    margin-top: 20px;
    text-align: center;
}

.member-list-item[selected], .chat-list-item[selected] {
    background: #27272e;
}

.msg-me .message-item-content, .me-avatar-fix {
    float: right;

}

.msg-me {
    position: relative;
}

.msg-me .message-item-content{
    margin-right: 45px;
    vertical-align: top;
}

.me-avatar-fix .message-item-avatar  {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.new-message-alert {
    right: 6px;
    top : 6px;

    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    text-align: center;
    min-width: 10px;
    padding: 0 5px 0 5px;

    color: #b12722;
    border: 1px solid #b12722;

    position: absolute;

}

.message-panel-loader {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #202024;

    z-index: 3;
}

.chat-panel-loader {
    background: #222224;
    width: 250px;
    height: 100%;

    display: flex;

    user-select: none;
    float: left;

    position: absolute;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    z-index: 3;

    
}

.message-top-loading .loader {
    margin-top: -10px;
    margin-bottom: 0;

    height: 20px;
    width: 20px;
}

.message-top-loading .loader::before, .message-top-loading .loader::after {
    height: 20px;
    width: 20px;
}

.message-top-loading .loader::before {
    left: -30px;
}

.message-top-loading .loader::after {
    left: 30px;
}

.message-top-loading {
    height: 60px;
}

.message-date-string {
    padding: 0 20px 0 20px;
    text-align: center;
    color: #a3a3a3;
}

.message-line {
    border-top: 1px solid #3f3f3f;
    position: absolute;

    top: 10px;
    left: 45px;
    right: 45px;
    z-index: 0;
}

.message-date-string-content {
    display: inline-block;
    background: #202024;

    padding: 0 20px 0 20px;
    position: relative;
}

[contentEditable=true]:empty:not(:focus):before{

    color: #747474;
    content:attr(data-text)
}

.emoji-panel {
    position: absolute;
    top: -267px;

    width: 170px;
    height: 200px;

    right: 20px;
    background: #2e2e33;
    border-radius: 10px;

    padding: 20px;

    z-index: 1250;
    box-shadow: 1px 0 5px 0px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-flow: row wrap;
}

.emoji-small {
    width: 24px;
    height: 24px;
    padding: 5px;

    border-radius: 3px;

    transition: 0.1s;

    cursor: pointer;
}

.emoji-small:hover {
    background: #222222;
}

.emoji-small-text {
    width: 20px;
    height: 20px;

    vertical-align: middle;
}

.fake-text {
    visibility: collapse;
}