html
    head
        link(rel="icon" href="favicon.png")
        <meta name="theme-color" content="#272729" />
        title PULSE
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")
        style
            include ./style.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    body
        .back#pjs
        .main
            .center
                .middle
                    .box
                        .logo 
                            .top ITMM
                            .bot 
                                span PULSE
                        .form
                            input#itlogin(type="text", name="itlogin", placeholder="Login")
                            input#itpassword(type="password", name="itpassword", placeholder="Password")
                            .button.submit#sin sign in
                            a(href="/reg").button.small#cos sign up


        script(src="pjs.js")
        script
            include ./index.js